# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]

[idle_timeout]
timeout: 39600 # 11 hours

[gcode_macro M601] 
gcode: pause 

[menu __main __octoprint]
type: disabled

[bed_screws]
screw1: 38, 35
screw2: 242, 35
screw3: 242, 214
screw4: 38, 214

[screws_tilt_adjust]
screw1: 69,43
screw1_name: front left screw
screw2: 276,43
screw2_name: front right screw
screw3: 276,217
screw3_name: rear right screw
screw4: 69,217
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M4

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 38, 35
mesh_max: 242, 214
probe_count: 10, 10
move_check_distance: 5
split_delta_z: .025
fade_start: 1
fade_end: 10
fade_target: 0
mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: 0.2

[safe_z_home]
home_xy_position: 140, 130 # Bed center
speed: 50
z_hop: 10  # 10mm up
z_hop_speed: 5

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 300
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 255
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -20
position_max: 300

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 7.49290479373
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.2
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_kp: 29.999
pid_ki: 1.905
pid_kd: 118.120
min_temp: 0
max_temp: 265
max_extrude_only_distance: 101

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_kp: 71.771
pid_ki:  1.840
pid_kd:  699.770
min_temp: 0
max_temp: 110

[heater_fan heatbreak_cooling_fan]
pin: PC6

[controller_fan controller_fan]
pin: PB15

[fan]
pin: PC7

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3C003B000350415339373620-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1
pwm: True
value: 0 #   Silent at power on
shutdown_value: 0 #   Disable at emergency shutdown
cycle_time: 0.001

[gcode_macro M300]
gcode:
  # Uses a default 1kHz tone if S is omitted.
 {% set S = params.S|default(2000)|int %}   
  # Uses a 10ms duration if  P is omitted
 {% set P = params.P|default(100)|int %}
 SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
 G4 P{P}
 SET_PIN PIN=beeper VALUE=0

[bltouch]
sensor_pin: ^PC2
control_pin: PA1
x_offset: -51
y_offset: -13
#z_offset: 0.335
samples: 2
pin_move_time: 0.4

[filament_switch_sensor filament_sensor]
switch_pin: PC15
pause_on_runout: True

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor rpi_temp]
sensor_type: temperature_host


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.010000, 0.027500, 0.048750, 0.070000, 0.082500, 0.090000, 0.106250, 0.115000, 0.136250, 0.158750
#*# 	0.016250, 0.040000, 0.058750, 0.075000, 0.092500, 0.102500, 0.115000, 0.121250, 0.138750, 0.161250
#*# 	0.013750, 0.032500, 0.057500, 0.073750, 0.086250, 0.095000, 0.113750, 0.117500, 0.135000, 0.168750
#*# 	0.013750, 0.032500, 0.055000, 0.073750, 0.083750, 0.096250, 0.106250, 0.112500, 0.130000, 0.157500
#*# 	0.000000, 0.027500, 0.051250, 0.061250, 0.082500, 0.103750, 0.113750, 0.127500, 0.156250, 0.186250
#*# 	0.007500, 0.038750, 0.061250, 0.077500, 0.091250, 0.108750, 0.112500, 0.126250, 0.145000, 0.186250
#*# 	0.011250, 0.032500, 0.063750, 0.088750, 0.097500, 0.112500, 0.131250, 0.147500, 0.167500, 0.200000
#*# 	0.028750, 0.060000, 0.083750, 0.096250, 0.122500, 0.138750, 0.150000, 0.162500, 0.186250, 0.213750
#*# 	0.032500, 0.063750, 0.087500, 0.108750, 0.122500, 0.148750, 0.162500, 0.172500, 0.192500, 0.232500
#*# 	0.060000, 0.085000, 0.118750, 0.140000, 0.151250, 0.177500, 0.190000, 0.202500, 0.227500, 0.265000
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 38.0
#*# max_x = 241.94
#*# min_y = 35.0
#*# max_y = 213.91999999999996
#*#
#*# [bltouch]
#*# z_offset = 0.641
